body {
  background-image: url('https://i.pinimg.com/originals/d5/12/0d/d5120db87d0baff6c4bccf927b9310cd.jpg');
  background-size: cover;
}


.view-page {
  min-height: 100vh;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive, serif;
}

header {
  height: 100px;
}

.game-name {
  margin: 100px;
  text-align: center;
  font-size: 50px;
}

.name {
  margin: 100px;
  margin-bottom: 125px;
}

.submit {
  cursor: pointer;
}

.whatToDo {
  font-size: 25px;
  background-color: rgba(91, 50, 41, .5);
  width: 40%;
  margin: 0 auto;
}

.container {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  /* flex-wrap: nowrap;
  /* flex-direction: row; */
  /*justify-content: center;
  width: 300px;
  text-align: center; */
}
.questions {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trivia-question {
  width: 80%;
  background-color: rgba(135, 122, 99, .5);
}

.results {
  width: 50%;
  font-size: 25px;
}  

.clock {
  margin: 0 auto;
  background-color: white;
  height: 100px;
  width: 100px;
  border: 4px solid black;
  border-radius: 50%;
  position: relative;
}

.line {
  background-color: black;
  height: 48px;
  width: 3px;
  position: absolute;
  top: 0px;
  left: 50px;
}

.line2 {
  background-color: black;
  height: 3px;
  width: 48px;
  position: absolute;
  left: 50px;
  top: 48px;
}

.movingEl {
  cursor: pointer;
  background-color: rgba(142, 137, 100, .7);
  font-size: 25px;
  width: 200px;
}












